
<div class="content">
  <form class="statBox">
    <div class='statName'>Strength<br>
     <!-- need database stuff here -->
     <input type="integer" name="str" placeholder="8" maxlength="2">
     <!-- <div class='statValue' id='str'>8</div> -->
    </div>
    <div class='statName'>Dexterity<br>
      <input type="integer" name="dex" placeholder="8" maxlength="2">
     <!-- <div class='statValue' id='dex'>8</div> -->
    </div>
    <div class='statName'>Intelligence<br>
      <input type="integer" name="int" placeholder="8" maxlength="2">
     <!-- <div class='statValue' id='int'>8</div> -->
    </div>
    <div class='statName'>Charisma<br>
      <input type="integer" name="cha" placeholder="8" maxlength="2">
    <div class='statValue' id='cha'>8</div>
    </div>
    <div class='statName'>Wisdom<br>
      <input type="integer" name="wis" placeholder="8" maxlength="2">
     <div class='statValue' id='wis'>8</div>
    </div>
    <input type="submit" id="submitStats" value="Update">
  </form>
  <footer><a href="#!/">Main Page</a></footer>
</div>
