<div class="content">
   <button type="button" id="stats">
     <a href="#!/stats">Stats</a></button>
   <button type="button" id="spells">
     <a href="#!/spells">Spells</a></button>
   <button type="button" id="inventory">
     <a href="#!/inventory">Inventory</a></button>
   <button type="button" id="background">
     <a href="#!/background">Background</a></button>
   <button type="button" id="newCharacter">
     <a href="#!/newCharacter">New Character</a></button>
   <button type="button" id="loadCharacter">
     <a href="#!/loadCharacter">Load Character</a></button>
</div>
