<div class="content">
  <div class="createCharacterBox">
  <form class="createCharacterForm">
    Character Name<br>
    <input type="text" name="name" maxlength="20">
    Race<br>
    <input type="text" name="race" maxlength="20">
    Height<br>
    <input type="text" name="height" maxlength="20">
    Weight<br>
    <input type="text" name="weight" maxlength="20">
    Alignment<br>
    <input type="text" name="alignment" maxlength="20">
    Level<br>
    <input type="text" name="level" maxlength="20">
    <input type="submit" id="submitCharacter" value="Submit Character">
  </form>
  </div>
  <footer><a href="#!/">Main Page</a></footer>
</div>
